<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Database=joby_jobs;Data Source=localhost;User Id=root;Password=123456" providerName="MySql.Data.MySqlClient" />
    <add name="JobyJobsDB" connectionString="metadata=res://*/Models.JobyJobsDB.csdl|res://*/Models.JobyJobsDB.ssdl|res://*/Models.JobyJobsDB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=123456;persistsecurityinfo=True;database=joby_jobs&quot;" providerName="System.Data.EntityClient" />
    <add name="JobyJobsDB2" connectionString="metadata=res://*/Models.JobyJobsDB.csdl|res://*/Models.JobyJobsDB.ssdl|res://*/Models.JobyJobsDB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=123456;persistsecurityinfo=True;database=joby_jobs&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--User code here-->

  </appSettings>

  <log4net>
    <appender name="LogXML" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\Logs\JobyJobs\JobyJobs.log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Size" />
      <param name="MaximumFileSize" value="10MB" />
      <param name="MaxSizeRollBackups" value="25" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
        <locationInfo value="true" />
      </layout>
    </appender>
    <root>
      <!-- priority value can be set to ALL|INFO|WARN|ERROR -->
      <priority value="ERROR" />
      <level value="WARN|ERROR" />
      <appender-ref ref="LogXML" />
    </root>
    <logger name="NHibernate">
      <level value="ERROR" />
      <appender-ref ref="LogXML" />
    </logger>
  </log4net>
  <entityFramework>
    <defaultConnectionFactory type="MySql.Data.Entity.MySqlConnectionFactory, MySql.Data.Entity.EF6" />
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6" />
    </providers>
  </entityFramework>
</configuration>