@{
    ViewBag.Title = "ג'ובי ג'ובס";
}

<div class="welcomeHeader">
    ברוך הבא 'שם המעסיק'
</div>
<div class="positionsGraph"></div>
<div class="openApplication"></div>
<div class="recentActivities"></div>

<div class="workersList">
    <span>
        מועמד 1:

        פרטים אישיים
        ותק
        חוזקות בתחום
        לפרטים מלאים אודות העובד הזה ->
    </span>
    <span>
        מועמד 2:

        פרטים אישיים
        ותק
        חוזקות בתחום
        לפרטים מלאים אודות העובד הזה ->
    </span>
    <span>
        מועמד 3:

        פרטים אישיים
        ותק
        חוזקות בתחום
        לפרטים מלאים אודות העובד הזה ->
    </span>
    <span>
        מועמד 4:

        פרטים אישיים
        ותק
        חוזקות בתחום
        לפרטים מלאים אודות העובד הזה ->
    </span>
    <span>
        מועמד 5:

        פרטים אישיים
        ותק
        חוזקות בתחום
        לפרטים מלאים אודות העובד הזה ->
    </span>
    <span>
        מועמד 6:

        פרטים אישיים
        ותק
        חוזקות בתחום
        לפרטים מלאים אודות העובד הזה ->
    </span>
</div>
