@{
    ViewBag.Title = "ג'ובי ג'ובס";
}
<div class="welcomeHeader">
    ברוך הבא 'שם המועמד'
</div>
<div class="positionsGraph"></div>
<div class="openApplication"></div>
<div class="recentActivities"></div>
<div class="fieldsList">
    <span>
        תחום 1:

        משרה 1
        משרה 2
        משרה 3
        משרה 4
        לכל המשרות בתחום זה ->
    </span>
    <span>
        תחום 2:

        משרה 1
        משרה 2
        משרה 3
        משרה 4
        לכל המשרות בתחום זה ->
    </span>
    <span>
        תחום 3:

        משרה 1
        משרה 2
        משרה 3
        משרה 4
        לכל המשרות בתחום זה ->
    </span>
    <span>
        תחום 4:

        משרה 1
        משרה 2
        משרה 3
        משרה 4
        לכל המשרות בתחום זה ->
    </span>
    <span>
        תחום 5:

        משרה 1
        משרה 2
        משרה 3
        משרה 4
        לכל המשרות בתחום זה ->
    </span>
</div>
